*{
  box-sizing: border-box;
}

body{
  font-family: "Source Code Pro",sans-serif ;
  font-size: 15px;
  line-height: 24px;
}

a{
  text-decoration: none;
  color: inherit;

}

.header{
  background-image: url(../img/header-bg.jpg);
  min-height: 793px;
  background-size: cover;
  background-position: top center;
}

.container{
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__top{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu-list{
  display: flex;
}

.menu-list li + li{
  padding-left: 50px;
}

.menu-list a{
  color: #fff;
  opacity: 0.5;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover{
    opacity: 1;
  }
}

.login{
  padding-right: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.sign-up{
  text-transform: uppercase;
  color: #250f8a;
  font-weight: 600;
  background-color: #fff;
  padding: 8px 43px;
  border-radius: 20px;
}

.header-slider{
  padding-top: 111px;

  &__item{
    height: 100%;
  }
  &__item-content{
    display: flex;
    justify-content: space-between;
  }
  &__item-info{
    max-width: 506px;
    color: #fff;
  }
  &__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  &__description{
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 60px;
  }
  &__btn{
    text-transform: uppercase;
    color: #250f8a;
    font-weight: 600;
    padding: 13px 39px;
    background-color: #FFCA00;
    border-radius: 25px;
  }
  &__item-images{
    margin-right: 82px;
    margin-top: 10px;
  }
}

.slick-vertical .slick-slide{
  border: 0;
}

.header-dots {
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}
.header-dots button{
  border: none;
  background-color: #fff;
  opacity: .5;
  font-size: 0;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  margin: 10px auto;
  display: block;
}

.header-dots .slick-active button{
  width: 15px;
  opacity: 1;
}

.specialised{
  padding: 55px 0 95px;
  background-image: url(../img/special-bg.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #202020;

  &__title{
    margin-bottom: 95px;
  }

  &__items{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
  }

  &__item{
    width: 280px;
    text-align: center;
    &-img{
      margin-bottom: 23px;
      height: 159px;
    }
    &-title{
      margin-bottom: 11px;
      font-size: 28px;
      font-weight: 700;
    }
    &-text{
      padding: 0 10px;
      color: #272727;
      opacity: .7;
    }
  }
}
.title{
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
}

.advantages{
  padding-top: 64px;
  background-color: #f4f9fd;
  background-image: url(../img/advavtages-bg.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.advantages-box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;

  &__info{
    max-width: 455px;
    padding-top: 60px;
    background-image: url(../img/title-bg-1.svg);
    background-repeat: no-repeat;
    background-position: 22px 76px;
  }
  &__title{
    color: #202020;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    padding: 68px 0 15px 48px;
  }
  &__text{
    padding-left: 48px;
    color: #272727;
    p{
      margin: 10px 0;
    }
  }
}

.advantages-box--right .advantages-box__info{
  order: 1;
  background-image: url(../img/title-bg-2.svg);
  background-repeat: no-repeat;
  background-position: 22px 130px;
}

.advantages-box__info .advantages-box__info--bg{
  background-image: url(../img/title-bg-2.svg);
  background-repeat: no-repeat;
  background-position: 5px 105px;
}

.reviews{
  background-image: url(../img/reviews-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 38px 0 82px;
}

.reviews__title{
  color: #fff;
  margin: 0 auto 48px;
  max-width: 384px;
}

.reviews__items{
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.reviews__item{
  width: 300px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  padding: 35px 20px;
  color: #fff;
  &-head{
    margin-bottom: 13px;
    display: flex;
    img{
      border-radius: 50%;
      margin-right: 20px;
    }
  }
  &-info{
  }
  &-name{
    font-weight: 600;
  }
  &-position{
    opacity: 0.5;
  }
  &-text{
    text-align: center;
    padding-top: 39px;
    position: relative;
    &:before{
      content: "“";
      font-size: 40px;
      line-height: 55px;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      color: #fff;
      font-family: "Source Code Pro";
    }
  }
}

.footer{

}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  color: #272727;
  padding: 0 40px;
}

.footer__link a + a {
  margin-left: 20px;
}


@media (max-width: 1620px){
  .advantages{
    background-image: none;
  }

}

@media (max-width: 1201px){
  .specialised{
    background-size: 60px;
  }
}

@media (max-width: 1190px){
  .header-slider{
    padding-top: 20px;
    height: auto;
  }
  .header-slider__item-images{
    margin: 10px 20px 0 0;
  }
  .header-slider__item-images img{
    width: 80%;
  }
  .header-slider__item-info{
    padding: 50px 0;
    height: auto;
  }

  .advantages-box{
    justify-content: space-around;
  }
  .advantages-box--right .advantages-box__title{
    padding: 30px 0 15px 20px
  }
  .advantages-box--right .advantages-box__text{
    padding-left: 20px;
  }
  .advantages-box--right .advantages-box__info{
    padding-right: 30px;
  }
  .advantages-box__images{
    text-align: center;
  }
  .advantages-box__images img{
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .specialised{
    background-image: none;
  }

  .advantages-box__info{
    padding-top: 10px;
  }
  .advantages-box--right .advantages-box__info{
    padding-right: 10px;
  }
  .advantages-box__images img{
    width: 70%;
    margin-top: 40px;
  }
  .reviews__items{
    flex-wrap: wrap;
  }
  .reviews__item{
    width: 48%;
    margin-bottom: 25px;
  }
}

@media (max-width: 924px) {
  .header__top{
    flex-wrap: wrap;
  }
  .header-btn{
    width: 100%;
    text-align: right;
  }
  .login{
    margin-right: 30px;
  }
}

@media (max-width: 900px){
  .header-slider__item-images{
    display: none;
  }
}

@media (max-width: 858px){
  .advantages{
    padding-top: 0;
  }
  .advantages-box {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .advantages-box--right .advantages-box__info{
    order: 0;
  }
  .advantages-box__info{
    width: 100%;
  }
  .advantages-box__images img{
    width: 100%;
  }

}

@media (max-width: 775px){
  .specialised{
    padding: 20px 0 40px ;
  }
  .specialised__title{
    margin-bottom: 40px;
  }
  .specialised__items{
    flex-wrap: wrap;
  }
  .specialised__item{
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 685px)  {
  .reviews{
    padding: 35px;
  }
  .reviews__items{
    display: block;
  }
  .reviews__item{
    width: 100%;
  }
}

@media (max-width: 620px){
 .footer__inner{
   display: block;
   text-align: center;
   padding: 20px 10px 17px;
 }
  .footer__link{
    margin-bottom: 10px;
  }
}

@media (max-width: 570px) {
  .header{
    min-height: 580px;
  }
  .menu-list{
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #1a50a8;
    z-index: 5;
  }
  .menu-list li + li {
    padding-left: 0;
  }
  .menu-list a{
    display: block;
    padding: 10px 0;
  }

  .menu__btn{
    width: 30px;
    height: 20px;
    position: relative;
  }
  .menu__btn:after,
  .menu__btn:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu__btn:after{
    top: 0;
  }
  .menu__btn:before{
    bottom: 0;
  }
  .menu__btn span{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 9px;
  }

  .header-slider__item-info{
    padding: 10px 30px 10px 0;
  }
  .header-slider__description{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
  }
  .header-slider__title{
    font-size: 35px;
    line-height: 45px;
  }


  .title{
    font-size: 30px;
  }
  .specialised__items{
    display: block;
  }
  .specialised__item{
    width: 100%;
  }

  .advantages-box__title{
    font-size: 30px;
    line-height: 40px;
    padding: 30px 0 15px 0;
  }
  .advantages-box__text{
    padding-left: 0;
  }

  .advantages-box--right .advantages-box__title{
    padding: 30px 0 15px 0;
  }
  .advantages-box--right .advantages-box__text{
    padding-left: 0;
  }

}


@media (min-width: 570px) {
  .menu-list{
    display: flex !important;
  }
}



