*{
  box-sizing: border-box;
}

body{
  font-family: "Source Code Pro",sans-serif ;
  font-size: 15px;
  line-height: 24px;
}

a{
  text-decoration: none;
  color: inherit;

}

.header{
  background-image: url(../img/header-bg.jpg);
  min-height: 793px;
  background-size: cover;
  background-position: top center;
}

.container{
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__top{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu-list{
  display: flex;
}

.menu-list li + li{
  padding-left: 50px;
}

.menu-list a{
  color: #fff;
  opacity: 0.5;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover{
    opacity: 1;
  }
}

.login{
  padding-right: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.sign-up{
  text-transform: uppercase;
  color: #250f8a;
  font-weight: 600;
  background-color: #fff;
  padding: 8px 43px;
  border-radius: 20px;
}

.header-slider{
  padding-top: 111px;
  &__item-content{
    display: flex;
    justify-content: space-between;
  }
  &__item-info{
    max-width: 506px;
  }
  &__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 10px;
  }
  &__description{
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 60px;
  }
  &__btn{
    text-transform: uppercase;
    color: #250f8a;
    font-weight: 600;
    padding: 13px 39px;
    background-color: #FFCA00;
    border-radius: 25px;
  }
  &__item-images{
    margin-right: 82px;
    margin-top: 10px;
  }
}

.header-dots {
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
}
.header-dots button{
  border: none;
  background-color: #fff;
  opacity: .5;
  font-size: 0;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  margin: 10px auto;
  display: block;
}

.header-dots .slick-active button{
  width: 15px;
  opacity: 1;
}

.specialised{
  padding: 55px 0 95px;
  background-image: url(../img/special-bg.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #202020;

  &__title{
    margin-bottom: 95px;
  }

  &__items{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
  }

  &__item{
    max-width: 280px;
    text-align: center;
    &-img{
      margin-bottom: 23px;
      height: 159px;
    }
    &-title{
      margin-bottom: 11px;
      font-size: 28px;
      font-weight: 700;
    }
    &-text{
      padding: 0 10px;
      color: #272727;
      opacity: .7;
    }
  }


}

.title{
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
}

